.background_platinum{
  background-color: #E5E5E5;
}
.text_platinum{
  color: #E5E5E5;
}
.bacground_dark{
  background-color: #22252A;
}
.text_dark{
  color: #22252A;
}
.bacground_blue{
  background-color: #253651;
}
.text_blue{
  color: #253651;
}
.text_white{
  color: #FFFFFF;
}
.background_white{
  background-color: #FFFFFF;
}
.text_red{
  color: #FF0037;
}
.background_red{
  background-color: #FF0037;
}


.noPaddind{
  padding-left: 0px;
  padding-right: 0px;
}
.noMarging{
  margin-left: 0px;
  margin-right: 0px;
}
.noBorderRadius{
  border-radius: 0px 0px 0px 0px;
}
.noBoder{
  border: 0px 0px 0px 0px;
}
.alignRight{
  text-align: right;
}
a{
text-decoration:none;
}
.header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
  z-index: 1;
}
.nav{
  position: fixed;
  top: 120px;
  left: 0px;
  right: 0px;
  z-index: 2;
}
.cart :hover{
  box-shadow: 6px 6px 6px 6px 20px black;
}
.nocart :hover{
  box-shadow: none;
}
.product_img{
  width:400px;
  height:200px;
  background-size: cover;
}
.impact{
  font-family:Impact;
}
